<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192434021828-8fo774kgjsrn8vnpga844hh92567fqid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192434021828-8fo774kgjsrn8vnpga844hh92567fqid</string>
	<key>API_KEY</key>
	<string>AIzaSyASIT2CVnpqRpZk_lMbvDP3Ag7AYoswfoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>192434021828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.butyprovider</string>
	<key>PROJECT_ID</key>
	<string>beaut-6ceb9</string>
	<key>STORAGE_BUCKET</key>
	<string>beaut-6ceb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192434021828:ios:f27b805a4506dd9f2c3091</string>
	<key>DATABASE_URL</key>
	<string>https://beaut-6ceb9.firebaseio.com</string>
</dict>
</plist>